html {
    font-family: Comic Sans MS ;
}

h1, h2, h3 {
    font-family: Papyrus ;
    color: rgb(100, 75, 100) ;
}

ul {
    list-style-type: none ;
    width: 16 ;
    background-color: rgb(71, 70, 70) ;
    margin: initial ;
    padding: initial ;
}

a {
    color: black ;
}

li{
    display: inline-block ;

}

a:hover{
  background-color: #aaa ;
}

footer{
    background-color: #ddd ;
    color: #555 ;
    text-align: center ;
    padding-top: 16 ;
    padding-bottom: 16 ;
}
